<div class="container">

  <div class="input-container">
    <form class="form-class" (ngSubmit)="onFormSubmit()">
      
      <div class="add-excel-container" (click)="file.click()">
        <input class="add-file" type="file" accept="*" #file (change)="onFileChange($event)">
        <h4>Add Excel</h4>
      </div>



      <input class="min-val-input" type="number" placeholder="Val. minima" [(ngModel)]="valAnaliza" name="valAnaliza">
      <button class="submit-button" type="submit">Search</button>
    </form>

  </div>

  <div class="info-container">
    <div id="table-container"></div>
  </div>

</div>